@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: #121212;
  }
}